[submodule "corium/vendor/spdlog"]
	path = corium/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "corium/vendor/glfw"]
	path = corium/vendor/glfw
	url = https://github.com/corium-engine/glfw
